name: 16 - Working with Environments

on:
  workflow_dispatch:
    inputs:
      target-env:
        type: environment
        default: staging
        description: environment to deploy into

jobs:
  echo:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target-env }}
    # outputs:
    #   target-env: ${{ steps.echo.outputs.environment }}
    env:
      my-env-value: ${{ vars.MY_ENV_VALUE || 'default value' }}
    steps:
      - name: Echo vars
        run: |
          echo "Env variable: ${{ env.my-env-value }}"
